# Ignore large data files and directories
/backend/public/MillionSongSubset/
*.h5

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment directory
venv/
.env

# Ignore IDE/editor files
.idea/
.vscode/
